body{
    background: whitesmoke;
    font-weight: bold;
    font-family: 'Abel', sans-serif;   
    
}
#customSwitch1{
    text-align: right;
}

li {
    font-size: 1.1rem;
}
header{
   background: black;
   color: whitesmoke;
    border-bottom: solid gray;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
p {
    margin-top: 10%;
    font-size: 1.1rem;
}
.card {
    display: none;
    text-align: center;
    width: 17.5%;
    margin: auto 1.25%; 
    background: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);  
}

.currentWeather{
    padding: 10%;
    margin-left: 100px;
   
}
.icon{
    border-radius: 180px;
    background: dodgerblue;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#one, #two, #three, #four{
    background: white;
}
.history {
    margin-bottom: 10px;    
}

.temp, .humidity, .windSpeed, .UVindex {
    text-align: left;
}
td{
    min-width: 50px;
    padding-right:10px;
}
.dayOneIcon, .dayTwoIcon,.dayThreeIcon,.dayFourIcon,.dayFiveIcon{
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.whole{
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background: transparent;
}
.mainBox{
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
    background: white;
}
@media (max-width: 576px) {
    body{
        background: whitesmoke;
    }
    header{
        background: black;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    h2{
        margin-bottom: 20px;
        text-align: left;
    }
  
    .card {
        display: none;
        text-align: center;
        height: 33.33%;
        width: 100%;
        margin-bottom: 10px;
        background: white; 
        padding: 0;  
    }
    #topRow {
        margin-bottom: 20px;
    }
    .currentWeather{
        padding: 10%;
        margin-top: 20px;
       
    }
    #one, #two, #three, #four{
       
        width: 100%;
        background: whitesmoke;
    }
    .history {
        margin-bottom: 10px;
        
    }
    .mainBox{
        border: 1px solid black;
        border-radius: 5px;
        height: 100%;
        padding: 10px;
        background: whitesmoke;
    }
    
    table{
        width: 100%;
        margin-bottom: 20px
    }
    tr{
        width: 100%;
    }
    td{
        text-align: right;
        margin: auto;
        width: 200px;
        padding-right:10px;
    }
    .temp, .humidity, .windSpeed, .UVindex {
        text-align: left;
       
        
    }
    .dayOneIcon, .dayTwoIcon,.dayThreeIcon,.dayFourIcon,.dayFiveIcon{ 
        width: auto;       
        margin-left: auto;
        margin-right: auto;
    }
    .whole{
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
        background: white;
    }
    .left{
        text-align: left;
    }
    .date{
        font-size: 1rem;
        text-align: left;
        margin: 10%;
        
    }
    .container{
        padding: 0px 0px;
        
    }
    .col-lg-4 col-12{
        padding: 0;
    }
  }
  